<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sistema de registro y control para peajes">

    <!-- Conexion con estilos css-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <!-- Conexion librería de iconos-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <title>Peajes</title>

    <link rel="icon" href="{{url_for('static', filename='images/logo1.png')}}">

</head>
<body>
<header>
    <h1>Sistema de control Peaje X</h1>
    <p>Transformando el tráfico en información estratégica </p>
</header>

<nav>
    <h1>Objetivos</h1>
    <p>Crear una app web utilizando python</p>
    <p>Aplicar conocimientos de Programación orientada a objetos</p>
    <h2>Lista de clases</h2>
    <p>vehiculo</p>
    <p>moto</p>
    <p>carro</p>
    <p>camión</p>
    <p>tractocamión</p>
    <p>peaje</p>
    <p>pago</p>

    
</nav>
    
</body>
</html>